header.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--white);
  height: 86px;
  line-height: 86px;
  position: fixed;
  z-index: 1;
  width: 100%;

  .header__logo, .header__logo a, .header__logo a:hover {
    color: var(--brand);
    font-weight: bolder;
    white-space: nowrap;
  }

  .header__menu {
    border: none;
  }

  .header__upload.upload {
    align-items: flex-end;

    .upload__button {
      height: auto;
      border-width: 2px;
      font-weight: bolder;
      color: var(--brand);

      @media screen and (min-width: 768px) {
        padding: 1rem 2rem;
      }

      .upload__text {
        display: none;
        @media screen and (min-width: 768px) {
          display: inline;
          font-size: large;
        }
      }
    }
  }
}


